*{
    box-sizing: border-box;

}
.dolaşım{
    background-color: rgb(105, 6, 72);
    border-radius: 15px;


}
body{
  background-image: linear-gradient(rgb(78, 194, 188),rgb(151, 47, 47));
  
}
.btn{
  height: 80px; width: 200px
  
}
